*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    font-weight: 10;
}

html,
body {
    height: 100%;
    background-color: #020202;
    color: #a187f3;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

h1 {
    padding: 20px;
    margin-top: 5%;
    font-size: 500%;
}

h2 {
    padding: 10px;
    font-size: 170%;
}

h3 {
    font-size: 240%;  
    z-index: 100;
    position: relative;
}

p {
    font-size: 140%;  
}

/* ------ Modal ------ */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
.modal-content {
    background-color: #383838;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    color: rgb(233, 233, 233);
}

.modal-header {
    padding: 2px 16px;
    color: rgb(185, 185, 185);
}
  
.modal-body {padding: 2px 16px;}
  
.modal-footer {
    padding: 2px 16px;
    color: white;
}

#playerFirstBtn,
#opponentFirstBtn {
    margin-top: 15px;
    cursor: pointer;
    background-color: #222222;
    font-size: 120%;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

#playerFirstBtn {
    color: rgb(0, 85, 0);
} 

#opponentFirstBtn {
    margin-left: 30px;
    color: rgb(107, 0, 0);
}

#playerFirstBtn:hover {
    color: rgb(0, 156, 0);
}

#opponentFirstBtn:hover {
    color: rgb(156, 0, 0);
}

/* ------ GAME COMPONENTS ------ */

.board {
    background-image: url("../img/board.jpg");
    background-position: center;
	background-repeat:no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.hand {
    position: absolute;
    bottom: 30%;
    left: 29%;
}

.pStats,
.oStats {
    position: absolute;
    left: 8.2%;
}
.pStats {
    bottom: 32%;
}
.oStats {
    top: 32%;
}

.pLeaderContainer,
.oLeaderContainer {
    position: absolute; 
    height: 16vh;
    width: 11vh;
    left: 7.1%;
    border-radius: 5px;
}

.pLeaderContainer::before,
.oLeaderContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: 1; 
}

.pLeaderContainer {
    bottom: 12%;
}

.oLeaderContainer {
    top: 12%;
}

.pLeaderContainer:hover::before,
.oLeaderContainer:hover::before {
    box-shadow: 0px 0px 0px 2px gold inset;
}

.pLeader,
.oLeader {
    height: 16vh;
    width: 11vh;
    z-index: 2; 
}

.pPass,
.oPass {
    position: absolute;
    left: 15%;
}
.pPass {
    bottom: 12%;
}
.oPass {
    top: 12%;
}

.pDeck,
.oDeck {
    position: absolute;   
    height: 17vh;
    width: 12vh;
    border-radius: 5px;
    right: 8%;
}
.pDeck {
    bottom: 25%;
}
.oDeck {
    top: 25%;
}

.pDisc,
.oDisc {
    position: absolute;
    height: 17vh;
    width: 12vh;
    border-radius: 5px;
    right: 8%;
}
.pDisc {
    bottom: 7%;
}
.oDisc {
    top: 7%;
}

.weatherStats {
    position: absolute;
    height: 15vh;
    width: 30vh;
    top: 42%;
    left: 3%;
}

.opSiegePower,
.opRangedPower,
.opCombatPower,
.combatPower,
.rangedPower,
.siegePower {
    position: absolute;
    left: 25%;
    color: #ffff87;
    font-size: 130%;
}
.opCombatPower,
.opRangedPower,
.opSiegePower {
    color: #aaefff;
}
.opSiegePower {
    top: 7%;
}
.opRangedPower {
    top: 23.8%;
}
.opCombatPower {
    top: 39.8%;
}
.combatPower {
    bottom: 39.8%;
}
.rangedPower {
    bottom: 23.8%;
}
.siegePower {
    bottom: 7%;
}

.opSiegeLane,
.opRangedLane,
.opCombatLane,
.combatLane,
.rangedLane,
.siegeLane {
    position: absolute;
    left: 36%;
    height: 13vh;
    width: 100vh;
}
.opSiegeLane {
    top: 1.2%;
}
.opRangedLane {
    top: 18%;
}
.opCombatLane {
    top: 34%;
}
.combatLane {
    bottom: 34%;
}
.rangedLane {
    bottom: 18%;
}
.siegeLane {
    bottom: 1.2%;
}

.opSiegeHorn,
.opRangedHorn,
.opCombatHorn,
.combatHorn,
.rangedHorn,
.siegeHorn {
    position:absolute;
    height: 14vh;
    width: 12vh;
    left: 28.75%;
}
.opSiegeHorn {
    top: 1.2%;
}
.opRangedHorn {
    top: 18%;
}
.opCombatHorn {
    top: 34%;
}
.combatHorn {
    bottom: 34%;
}
.rangedHorn {
    bottom: 18%;
}
.siegeHorn {
    bottom: 1.2%;
}

.totalPower,
.opTotalPower {
    position: absolute;
    left: 17%;
    bottom: 33%;
    color: #ffff87;
    font-size: 200%;
}
.opTotalPower {
    top: 33%;
    color: #aaefff;
}

.instructions,
.leaderInstructions {
    position: absolute;
    font-size: 110%;
    color: gold;
    bottom: 2%;
    left: 4%;
}
.leaderInstructions {
    bottom: 6%;
}

.deckSize {
    padding-top: 110%;
    color: #ffa700;
}

.card {
    float: left;
    display: none;
    height: 20vh;
    width: 12vh;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
}

.card:not(:first-child) {
    margin-left: -2em;
}

.card:hover {
    box-shadow:0px 0px 0px 2px gold inset;
    transform: scale(1.2) translateY(-1em);
}

.card:hover ~ .card {
    transform: translateX(42px);
}

.cardDetailView {
    position: absolute;
    display: none;
    top: 25%;
    left: 44%;
    height: 36vh;
    width: 21.6vh;
    border-radius: 5px;
}

.cardSelected {
    position: absolute;
    display: none;
    top: 7%;
    left: 47.5%;
    height: 18vh;
    width: 10.8vh;
    border-radius: 5px;
}

.pDisc:hover,
.oDisc:hover {
    box-shadow:0px 0px 0px 2px gold inset;
}

.cardSmall {
    float: left;
    height: 13vh;
    width: 7.2vh;
}

/* one item */
cardSmall:first-child:nth-last-child(1) {
    margin-left: 90px;
}

/* two items */
cardSmall:first-child:nth-last-child(2),
cardSmall:first-child:nth-last-child(2) ~ cardSmall {
    margin-left: 70px;
}

/* three items */
cardSmall:first-child:nth-last-child(3),
cardSmall:first-child:nth-last-child(3) ~ cardSmall {
    margin-left: 50px;
}

/* four items */
cardSmall:first-child:nth-last-child(4),
cardSmall:first-child:nth-last-child(4) ~ cardSmall {
    margin-left: 20px;
}