<meta name="viewport" content="width=device-width, initial-scale=1">

@media only screen and (max-width: 1023px) {
    /* Display message to increase screensize */
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    
    .hand {
        left: 50%;
        margin-left: -300px;
    }

    .pStats {
        font-size: 90%;
        left: 140px;
    }

    .oStats {
        font-size: 90%;
        left: 140px;
    }
    
    .playerLeader,
    .opponentLeader,
    .playerDeck,
    .opponentDeck {
        height: 107px;
        width: 71px;
    }

    .playerLeader,
    .opponentLeader {
        left: 127px;
    }

    .playerDeck,
    .opponentDeck {
        right: 144px;
    }
    
    .deckSize {
        font-size: 120%;
    }

    .opSiegeLane,
    .opRangedLane,
    .opCombatLane,
    .combatLane,
    .rangedLane,
    .siegeLane {
        height: 90px;
        width: 625px;
    }
    
    .opSiegeLane {
        top: 0.5%;
    }
    
    .opRangedLane {
        top: 17.3%;
    }
    
    .opClosedLane {
        top: 33.3%;
    }
    
    .siegeLane {
        bottom: 0.5%;
    }
    
    .rangedLane {
        bottom: 17.3%;
    }
    
    .closedLane {
        bottom: 33.3%;
    }
    
    .opSiegeHorn,
    .opRangedHorn,
    .opCombatHorn,
    .combatHorn,
    .rangedHorn,
    .siegeHorn {
        height: 90px;
        width: 90px;
    }
    
    .opSiegeHorn {
        top: 0.5%;
    }
    
    .opRangedHorn {
        top: 17.7%;
    }
    
    .opCombatHorn {
        top: 33.3%;
    }
    
    .combatHorn {
        bottom: 33.3%;
    }
    
    .rangedHorn {
        bottom: 17.7%;
    }
    
    .siegeHorn {
        bottom: 0.5%;
    }

    .instructions {
        font-size: 100%;
        bottom: 4%;
        left: 5%;
    }

    .card {
        height: 144px;
        width: 86px;
    }
}


@media only screen and (min-width: 1366px) and (max-width: 1440px) {
    .playerLeader,
    .opponentLeader,
    .playerDeck,
    .opponentDeck {
        height: 123px;
        width: 85px;
    }
    
    .playerLeader,
    .opponentLeader {
        left: 130px;
    }
    
    .playerLeader{
        bottom: 15%;
    }
    
    .opponentLeader {
        top: 15%;
    }

    .playerDeck,
    .opponentDeck {
        right: 145px;
    }
    
    .playerDeck{
        bottom: 27%;
    }
    
    .opponentDeck{
        top: 27%;
    }
}

/* TODO and update higher res */
@media only screen and (min-width: 1440px) and (max-width: 1600px) {

}


@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    .playerLeader,
    .opponentLeader,
    .playerDeck,
    .opponentDeck {
        height: 163px;
        width: 112px;
    }
    
    .playerLeader,
    .opponentLeader {
        left: 167px;
    }
    
    .playerLeader{
        bottom: 12%;
    }
    
    .opponentLeader {
        top: 12%;
    }

    .playerDeck,
    .opponentDeck {
        right: 195px;
    }
    

}