*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    font-weight: 10;
}

html,
body {
    height: 100%;
    background-color: #020202;
    color: #a187f3;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

h1 {
    padding: 20px;
    margin-top: 5%;
    font-size: 500%;
}

h2 {
    padding: 10px;
    font-size: 170%;
}

h3 {
    font-size: 240%;  
}

p {
    font-size: 140%;  
}



/* ------ GAME COMPONENTS ------ */

.board {
    background-image: url("../img/board.jpg");
    background-position: center;
	background-repeat:no-repeat;
    background-size: 95%;
    height: 100%;
    width: auto;
}

.hand {
    position: fixed;
    bottom: 30%;
    left: 50%;
    margin-left: -400px;
}

.pStats {
    position: fixed;
    left: 160px;
    bottom: 32%;
}

.oStats {
    position: fixed;
    left: 160px;
    top: 32%;
}

.playerLeader {
    position: fixed;   
    height: 132px;
    width: 88px;
    bottom: 11%;
    left: 137px;
}

.opponentLeader {
    position: fixed;   
    height: 132px;
    width: 88px;
    top: 11%;
    left: 137px;
}

.playerDeck {
    position: fixed;   
    height: 132px;
    width: 88px;
    border-radius: 5px;
    bottom: 25%;
    right: 155px;
}

.opponentDeck {
    position: fixed;   
    height: 132px;
    width: 88px;
    border-radius: 5px;
    top: 25%;
    right: 155px;
}

/* 12 LANE, HORN & POWER PLACEHOLDERS */
.opSiegeLane {
    position: fixed;   
    height: 105px;
    width: 700px;
    top: 1.2%;
    left: 36.5%;
}
.opSiegeHorn {
    position: fixed;   
    height: 105px;
    width: 115px;
    top: 1.2%;
    left: 29%;
}
.opSiegePower {
    position: fixed; 
    top: 7%;
    left: 25%;
}

.opRangedLane {
    position: fixed;   
    height: 105px;
    width: 700px;
    top: 18%;
    left: 36.5%;
}
.opRangedHorn {
    position: fixed;   
    height: 105px;
    width: 115px;
    top: 18%;
    left: 29%;
}
.opRangedPower {
    position: fixed; 
    top: 23.8%;
    left: 25%;
}

.opCombatLane {
    position: fixed;   
    height: 105px;
    width: 700px;
    top: 34%;
    left: 36.5%;
}
.opCombatHorn {
    position: fixed;   
    height: 105px;
    width: 115px;
    top: 34%;
    left: 29%;
}
.opCombatPower {
    position: fixed; 
    top: 39.8%;
    left: 25%;
}

.combatLane {
    position: fixed;   
    height: 105px;
    width: 700px;
    bottom: 34%;
    left: 36.5%;
}
.combatHorn {
    position: fixed;   
    height: 105px;
    width: 115px;
    bottom: 34%;
    left: 29%;
}
.combatPower {
    position: fixed; 
    bottom: 39.8%;
    left: 25%;
}

.rangedLane {
    position: fixed;   
    height: 105px;
    width: 700px;
    bottom: 18%;
    left: 36.5%;
}
.rangedHorn {
    position: fixed;   
    height: 105px;
    width: 115px;
    bottom: 18%;
    left: 29%;
}
.rangedPower {
    position: fixed; 
    bottom: 23.8%;
    left: 25%;
}

.siegeLane {
    position: fixed;   
    height: 105px;
    width: 700px;
    bottom: 1.2%;
    left: 36.5%;
}
.siegeHorn {
    position: fixed;   
    height: 105px;
    width: 115px;
    bottom: 1.2%;
    left: 29%;
}
.siegePower {
    position: fixed; 
    bottom: 7%;
    left: 25%;
}

.opCombatPower,
.opRangedPower,
.opSiegePower {
    font-size: 130%;
    color: #aaefff;
}
.combatPower,
.rangedPower,
.siegePower {
    font-size: 130%;
    color: #ffff87;
}

.opTotalPower {
    position: fixed;
    left: 270px;
    top: 33%;
    font-size: 200%;
    color: #aaefff;
}
.totalPower {
    position: fixed;
    left: 270px;
    bottom: 33%;
    font-size: 200%;
    color: #ffff87;
}

.instructions {
    position: fixed;
    font-size: 110%;
    color: gold;
    bottom: 4%;
    left: 4%;
}

.deckSize {
    padding-top: 110%;
    color: #ffa700;
}

.card {
    float: left;
    display: none;
    height: 180px;
    width: 108px;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
}

.card:not(:first-child) {
    margin-left: -2em;
}

.card:hover {
    border: solid gold;
    transform: scale(1.2) translateY(-1em);
}

.card:hover ~ .card {
    transform: translateX(42px);
}

.cardSelected {
    position: fixed;
    display: none;
    top: 5%;
    left: 50%;
    height: 180px;
    width: 108px;
    border-radius: 5px;
}



/* CARDS IN PLAY */

.cardSmall {
    float: left;
    /* TODO Margin needs to change depending on amount of cards */
    margin-left: 5px;
    height: 105px;
    width: 63px;
}

/* one item */
cardSmall:first-child:nth-last-child(1) {
/* -or- li:only-child { */
    margin-left: 90px;
}

/* two items */
cardSmall:first-child:nth-last-child(2),
cardSmall:first-child:nth-last-child(2) ~ cardSmall {
    margin-left: 70px;
}

/* three items */
cardSmall:first-child:nth-last-child(3),
cardSmall:first-child:nth-last-child(3) ~ cardSmall {
    margin-left: 50px;
}

/* four items */
cardSmall:first-child:nth-last-child(4),
cardSmall:first-child:nth-last-child(4) ~ cardSmall {
    margin-left: 20px;
}









