*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    font-weight: 10;
}

html,
body {
    background-color: #020202;
    color: #a187f3;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    padding: 20px;
    margin-top: 5%;
    font-size: 500%;
}

h2 {
    padding: 10px;
    font-size: 170%;
}

h3 {
    font-size: 240%;
}

input {
    margin: 5px 0px;
    font-size: 150%;
}

a {
    font-size: 130%;
    text-decoration: none;
    color: #5300f5;
}

/* ------ BUTTONS ------ */

button{
    outline: none;
    opacity: 0.8;
    color: #5300f5;
    background-color: #000;
    border: 0.1em outset #7642cc;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.btn{
    margin: 25px 18px;
    font-size: 120%;
}

.btn:hover{
    opacity: 1;
}

.btn:active{
    opacity: 0.8;
}

/* ------ CARDS ------ */

.leaders {
    margin: 20px 18%;
    height: 400px;
}

.card {
    margin: 20px 5%;
    float: left;
    text-align: center;
    display: block;
    height: 240px;
    width: 144px;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.4);
}












