*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    font-weight: 10;
}

html,
body {
    height: 100%;
    color: #a187f3;
    background-color: #0f0617;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    padding: 20px;
    margin-top: 5%;
    font-size: 500%;
}

h2 {
    padding: 10px;
    font-size: 170%;
}

h3 {
    font-size: 240%;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

input {
    margin: 5px 0px;
    font-size: 150%;
}

a {
    font-size: 130%;
    text-decoration: none;
    color: #5300f5;
}

.info {
    text-align: center; 
    font-size: 150%; 
    margin-top: 15px; 
    margin-left: 20%; 
    margin-right: 20%;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
}

span{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    letter-spacing: 4px;
    background-image: linear-gradient(
     to right,
     #292346 0,
     #6951cb 22%, 
     #867af6 45%,
     #c0c2f6 50%,
     #7a7cf6 55%,
     #5151cb 78%,
     #2b2346 100%
     );
    color:transparent;
    -webkit-background-clip:text;
 }

 .indexOptions{
    margin-top: 15%;
 }

/* ------ BUTTONS ------ */

button{
    outline: none;
    opacity: 0.8;
    color: #5300f5;
    background-color: #000;
    border: 0.1em outset #7642cc;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.btn{
    margin: 25px 18px;
    font-size: 120%;
}

.btn:hover{
    opacity: 1;
}

.btn:active{
    opacity: 0.8;
}

/* ------ CARDS ------ */

.leaders {
    margin: 25px 27%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.column {
    float: left;
    width: 50%;
    height: 400px;
}

.leaderCard {
    float: left;
    height: 240px;
    width: 144px;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    
}

.leaderCard:hover {
    transform: scale(1.55);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.4s;
}

.card {
    margin: 20px 6%;
    float: left;
    display: none;
    height: 240px;
    width: 144px;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.3);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}

.cardAmount {
    font-size: 130%;
    text-align: right;
    margin: 1px 3px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;    
    color: #fff;
}

.abilityDesc {
    display: none;
    font-size: 60%;
    text-align: center;
    margin: 50% 3px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;    
    color: #fff;
}












