*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    font-weight: 10;
}

html,
body {
    height: 100%;
    background-color: #020202;
    color: #a187f3;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    padding: 20px;
    margin-top: 5%;
    font-size: 500%;
}

h2 {
    padding: 10px;
    font-size: 170%;
}

h3 {
    font-size: 240%;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

input {
    margin: 5px 0px;
    font-size: 150%;
}

a {
    font-size: 130%;
    text-decoration: none;
    color: #5300f5;
}

.info {
    text-align: center; 
    font-size: 150%; 
    margin-top: 15px; 
    margin-left: 20%; 
    margin-right: 20%;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
}

/* ------ BUTTONS ------ */

button{
    outline: none;
    opacity: 0.8;
    color: #5300f5;
    background-color: #000;
    border: 0.1em outset #7642cc;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.btn{
    margin: 25px 18px;
    font-size: 120%;
}

.btn:hover{
    opacity: 1;
}

.btn:active{
    opacity: 0.8;
}

/* ------ CARDS ------ */

.leaders {
    margin: 20px 18%;
    height: 400px;
}

.column {
    float: left;
    width: 50%;
    height: 400px;
}

.leaderCard {
    margin: 20px 5%;
    float: left;
    display: block;
    height: 240px;
    width: 144px;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
}

.leaderCard:hover {
    transform: scale(1.35);
}

.card {
    margin: 20px 6%;
    float: left;
    display: none;
    height: 240px;
    width: 144px;
    transition: transform 300ms ease 0s;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.2);
}

.cardAmount {
    font-size: 130%;
    text-align: right;
    margin: 1px 3px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;    
    color: #fff;
}

/* ------ GAME ------ */

.board {
    background-image: url("../img/board.jpg");
    background-position: center;
	background-repeat:no-repeat;
    background-size: 95%;
    height: 100%;
}













